#skills{
  display: flex;
   
  padding: 10px; 
   
   }

.panel img {
  width: 80px;
    height: 80px;
    margin: 30px;

  }
/*
 .panel :hover {
    width:250px;
    height: 250px;
    transform: rotate(180deg);
   
    margin-top: 10%;
    
   
  }*/
  .panel :hover{
    /*
    border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #8abada;
-webkit-box-shadow: 0px 0px 15px 15px #51accf;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
*/
transition: 200ms;
box-shadow: 10px -10px  teal, -10px 10px steelblue;
}