.hobbie{
    display: flex;
    

   
 
    padding: 30px; 
    
   
}
.hobbies img{
    width: 80px;
    height: 80px;
    margin: 40px;
    
}
.hobbies :hover{
    border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #f0d9ca;
-webkit-box-shadow: 0px 0px 15px 15px #e5b897;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);

}


