@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
  text-align: center;
size: 18px;
}

/*
#cabecera {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  transition: top 0.5s;

  font-family: "Montserrat";
  background: linear-gradient(
    45deg,
    #47cacc,
    #63bcc9,
    #cdb3d4,
    #e7b7c8,
    #ffbe88
  );
}
*/
.titulos {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  color: #464646;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 190px;
  text-align: justify;
  padding-top: 2rem;
  padding-bottom: 1rem;
  transition: 1s all;
  
}
/*
.nav_links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 5px 0;
}
.nav_links :hover {
  color: cornsilk;
  font-size: 18px;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  color: #000000;
  font-weight: bold;
  size: 18px;
  text-decoration: royalblue;
}
*/
.presentacion {


align-items: flex-start;
  font-family: "Montserrat";

}
.presentacion-texto {
  display: flex;
padding: 8rem ;
   padding-left: 3rem;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 2rem;
}
.foto-vale {
  border-radius: 50% 20% / 10% 40%;
align-items: flex-end;
  right: 85px;
  width: 200px;
  height: 200px;
 margin-left: 5rem ;
}

.links a {
  color: grey;
  font-size: 18px;
  position: static;
  font-weight: bold;
  padding: 35px 20px;
}

.links a :hover {
  transform: scale(1.2);
}



.sobremi-txt p {
  font-family: "Raleway", sans-serif;
  padding: 2rem 2rem 2rem 2rem;
  text-align: justify;
  margin: 0 0 1em;
  color: #022222;
  line-height: 2rem;
  font-size: 18px;
}



footer {
  color: azure;
  background: darkcyan;
  position: absolute;
  padding: 20px;
  width: 100%;
  flex-wrap: wrap;
  border-top: 1.5px solid;
}

@media screen and (min-width:360px) {
  *{
   font-size: 2rem;
  }
  body{ 
  
    line-height:5rem; 
    font-size: 2rem; 
   } 
 /**/
  ul li {
    width: 100%;
    padding: 15px;
    text-align: left;
   
  }

  .hide {
    display: block;
  }

  nav ul {
  display: none;

  }
  /**/
  .presentacion, .sobre-mi,.s-h,.container__card, .contact-section, .footer{
  
    width: 100%;
    
  }
  #skills{
    display: block;
    transform: scale(1.1);
  
  }
  .panel img {
    width: 150px;
      height: 150px;
            margin: 30px;
  
    }
    .panel :hover{
      /*
      border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px #8abada;
  -webkit-box-shadow: 0px 0px 15px 15px #51accf;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  */
  transition: 200ms;
  box-shadow: 10px -10px  teal, -10px 10px steelblue;
  }
  
  .panel, .hobbies, .info{
    
    width: 100%;
  }
 .codificador, .mediayes, .mi-bella-lana{
    display: block;
    text-align: center;
   
    }
  #contact-section{
   
    display: block;
  }
  
  }

@media screen and (min-width:480px) {
  *{
    size: 5rem;
  }
#cabecera{
 position: static;
}
.presentacion, .sobre-mi,.s-h,.container__card, .contact-section, .footer{

  width: 100%;
}
#skills{
  display: block;
}

.panel, .hobbies,.info{
 
  width: 100%;
}
.experiencia.codificador, .mediayes, .mi-bella-lana{
  display: block;
  text-align: center;
  }


}
  
@media screen and (min-width:1024px) {
  body{
    line-height:2rem; 
  }
 /**/
 ul li {
  width: 100%;
  padding: 15px;
  text-align: left;
}

.hide {
  display: none;
}

nav ul {
display: flex;

}
.sobre-mi{
  padding: 25px;
  margin: 2rem;
}
/**/
  .presentacion, .container__card, .contact-section, .footer{
  
    width: auto;
  }
  .panel img {
    width: 80px;
      height: 80px;
      margin: 30px;
  
    }
  #skills{
    display: flex;
   

  }

  .panel, .hobbies,.proyecto, .info{
   
    width: 100%;
  }
  .codificador, .mediayes, .mi-bella-lana{
   display: flex;
    text-align: center;
    }
    #contact-section{
      
      display: flex;
    }
  
  }
    