@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


#contact-section{
    background-color: lightskyblue;
    display: flex;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;


}
.contact-img{
    width: 30%;
    height: 30%;
    margin: 5%;
}

form{
    margin: 40px 0;
}
p{
    margin-bottom: 3rem;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padron{
 /* display: block;*/
 margin: 0 0 15px;
padding: 5px 25px;
width: 50%;

}
.enviar{
    width: 40%;
    padding: 15px 0;
   margin-top: 3rem;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #0d8d8f;
    border:none;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
}
.enviar:hover{
    /*#47cacc,#63bcc9,#cdb3d4,#e7b7c8,#ffbe88*/
    background: #0b4142;
    transform: scale(1.2);
}
